.header{
  background-color: #49a14d;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  margin-bottom: 30px;
}

.todo-item{
  margin-bottom: 10px;
  border: 1px #ccc solid;
  border-radius: 6px;
  line-height: 38px;
  padding:10px;
}

.right{
  float: right;
}

#undo{
  position: fixed;
  bottom: 20%;
  right:30%;
}